<mat-sidenav-container class="sidenav-container bg-white">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background-color: rgba(4,4,44, 1);">
    <mat-toolbar class="text-white">TFC</mat-toolbar>
    <mat-nav-list class="text-light">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="pl-4 myFont">
        <span><i class="fas fa-tachometer-alt"></i></span>
        <span class="ml-3">Dashboard</span></a>
      <a mat-list-item routerLink="/profile" (click)="getFirstName()" routerLinkActive="active" class="pl-4 myFont">
        <span><i class="fas fa-user"></i></span>
        <span class="ml-4">Profile</span>
      </a>
      <mat-accordion *ngIf="admin">
        <mat-expansion-panel style="background-color: transparent !important; box-shadow: none !important; color: white !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item class="myFont">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span class="pl-4">Unit</span>
              </a>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/createunit" class="pl-4 myFont">Create Unit</a>
          <a mat-list-item routerLink="/allunit" class="pl-4 myFont">View All Unit</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion *ngIf="admin">
        <mat-expansion-panel style="background-color: transparent !important; box-shadow: none !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item class="myFont">
                <span><i class="fas fa-users"></i></span>
                <span class="pl-3">Users</span>
              </a>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/alluser" class="pl-4 smallFont">View All User</a>
          <a mat-list-item routerLink="/adduser" class="pl-4 smallFont">Add User</a>
        </mat-expansion-panel>
      </mat-accordion>
    <mat-accordion *ngIf="admin">
      <mat-expansion-panel style="background-color: transparent !important; box-shadow: none !important; padding: 0% !important;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a mat-list-item class="myFont">
              <span><i class="fas fa-car-side"></i></span>
              <span class="pl-3">Transport</span>
            </a>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/addtransport" class="pl-4 myFont">Add Transport</a>
        <a mat-list-item routerLink="/alltransport" class="pl-4 myFont">All Transport</a>
      </mat-expansion-panel>
    </mat-accordion>
      <a mat-list-item routerLink="/count" routerLinkActive="active" class="pl-4 myFont">
        <span><i class="fas fa-plus-circle"></i></span>
        <span class="pl-3">Count</span>
      </a>
      <a mat-list-item routerLink="/report" class="pl-4 myFont">
        <span><i class="fas fa-chart-bar"></i></span>
        <span class="pl-3">Report</span>
      </a>
      <a mat-list-item routerLink="/dashboard" class="pl-4 myFont">
        <span><i class="fas fa-sign-out-alt"></i></span>
        <span class="pl-3">Log Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="" style="height: 100%; max-height: 100%; overflow-y: auto;">
    <mat-toolbar class="bg-light shadow-sm" style="width: 100% !important;">
      <div class="row w-100">
        <div class="col-6">
          <button 
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        <!-- <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>traffic-counter</span> -->
        <!-- <span>traffic-counter</span> -->
        </div>
        <div class="col-6">
          <nav class="nav mynav">
            <!-- <a>Home</a> -->
            <a class="nav-link text-dark d-none d-md-block myhover" routerLink="/count" title="count"><i class="fas fa-plus-circle"></i></a>
            <a href="#" id="drop"  class="nav-link text-dark d-none d-md-block ml-lg-3" data-toggle="dropdown" title="settings" *ngIf="admin"><i class="fas fa-cog"></i></a>
            <div class="dropdown-menu" id="drop">
              <a routerLink="/dashboard" class="nav-link h6 initialism dropdown-item myhover">Keep Report by Minutes</a>
              <a routerLink="/dashboard" class="nav-link h6 initialism dropdown-item">Keep Report by Hour</a>
              <a routerLink="/dashboard" class="nav-link h6 initialism dropdown-item">Keep Report by Seconds</a>
            </div>
        
            <a routerLink="/profile" class="nav-link ml-lg-3 text-dark d-none d-md-block" title="profile" (click)="getFirstName()"><i class="fas fa-user"></i></a>
            <img src="{{image}}" onerror="this.src='assets/profilepicture.png'" alt="" class="rounded-circle mt-1 ml-4" style="height: 40px; width: 40px;">
          </nav>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
