<div class="container-fluid">
    <div>
        <h1>Welcome {{this.dataObj.userName}}!!!</h1>
        <div>
            <p>You have successfully create <b>{{this.dataObj.unitName}} Unit</b> and add <b>{{this.dataObj.userName}}</b> to the unit as an admin.</p>
            <p><b>{{this.dataObj.userName}}</b>, your userID is <b>{{this.dataObj.unitInitial}} {{this.dataObj.userId}}</b></p>
            <small>Kindly Sign In</small>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button accent="primary" (click)="login()">Sign In</button>
        </div>
    </div>
</div>