<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-6 mx-auto text-center">
            <div>
                <span class="text-muted text">Date:</span>
                <span class="text-muted text">{{unit_date}}</span>
            </div>
            <div>
                <span class="text-muted text">Time:</span>
                <span class="text-muted text">{{unit_time}}</span>
            </div>
        </div>
        <div class="col-6 mx-auto text-center">
            <span class="text-muted text">Unit:</span>
            <span class="text-muted text">{{unit_name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto mt-5 shadow-sm border p-3">
            <p class="text-center text-muted">{{info}}</p>
            <div class="row border-bottom mb-3" *ngFor="let transport of transArray">
                <div class="col-3 text-center">
                    <img src="http://localhost/trafficCounter/backend/uploads/{{transport.transport_img}}" onerror="this.src='assets/profilepicture.png'" class="" alt="" >
                </div>
                <div class="col-3">{{transport.transport_name}}</div>
                <div class="col-2">{{value}}</div>
                <div class="col-2">
                    <button class="btn btn-dark mb-2 shadow-sm btn-sm" (click)="sendReport(transport.transport_id)"><i class="fa fa-plus"></i></button>
                </div>
                <div class="col-2">
                    <button class="btn btn-dark mb-2 shadow-sm btn-sm"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
