<div class="container-fluid wrapper p-3">
  <div class="row" *ngIf="!seen">
    <div class="col-3 mx-auto">
      <p class="display-4 text-center">LOADING.....</p>
    </div>
  </div>
  <p class="h2 text-center">UNIT LIST</p>
    <div class="row mx-auto justify-content-end" *ngIf="seen">
       <div class="col-12 col-md-6 border-top-0 mx-auto">
        <!-- <input type="text" class="form-control mt-2" placeholder="Search Unit" [(ngModel)]="unitSearch"> -->
      </div>
      <div class="col-12 col-md-4 border-top-0 mx-auto">
        <input type="text" class="form-control mt-2" placeholder="Search Unit" [(ngModel)]="unitSearch">
      </div>
      <div class="col-12 col-md-2 border-top-0 mx-auto p-0">
        <button mat-raised-button routerLink="/createunit" class="mt-2 ml-3 ml-md-5">Add Unit</button> 
      </div>
    </div>
    <div class="sticky">
      
    </div>
    <div class="row mt-2 d-none d-md-block">
      <div class="col-12">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-2 text-center mx-auto"><span><b>Unit Name</b></span></div>
              <div class="col-2 text-center mx-auto"> <span><b>Unit Address</b></span></div>
              <div class="col-1 text-center mx-auto"> <span><b>Initials</b></span></div>
              <div class="col-2 text-center mx-auto"> <span><b>Unit Status</b></span></div>
              <div class="col-2 text-center mx-auto"> <span><b>Count Interval</b></span></div>
              <div class="col-3 text-center mx-auto"> <span><b>Action</b></span></div>              
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row mt-4 p-0">
          <div class="col-12 mb-3" *ngFor="let unit of unitArray | searchUnit: unitSearch">
            <mat-card class="bg-white p-0">
              <mat-card-content>
                <div class="row w-100 text-muted">
                  <div class="col-12 col-md-2 mx-auto text-center">
                    <div class="mt-md-3">
                        <span>{{unit.name}}</span><br>
                    </div>
                  </div>
                  <div class="col-12 col-md-2 mx-auto text-center">
                    <div class="mt-md-3">
                        <span>{{unit.address}}</span><br>
                    </div>
                  </div>
                  <div class="col-12 col-md-1 mx-auto text-center">
                    <div class="mt-md-3">
                        <span>{{unit.initials}}</span><br>
                    </div>
                  </div>
                  <div class="col-12 col-md-2 mx-auto text-center">
                    <div class="mt-md-3">
                        <span>{{unit.status}}</span><br>
                    </div>
                  </div>

                  <div class="col-12 col-md-2 mx-auto text-center">
                    <div class="mt-md-3">
                      <span *ngIf="unit.count_interval == '60000'">Keep Count per Minute</span>
                      <span *ngIf="unit.count_interval == '3600000'">Keep Count per Hour</span>
                      <span *ngIf="unit.count_interval == '86400000'">Keep Count per Day</span>
                    </div>
                  </div>

                  <div class="col-3 mx-auto d-flex justify-content-center">
                    <mat-card-actions class="mr-3">
                      <button mat-raised-button (click)="editUnit(unit.unit_id, unit.name, unit.address, unit.initials, unit.status)">
                        <i class="fas fa-edit"></i>
                      </button>
                    </mat-card-actions>
                    <mat-card-actions class="mr-3">
                      <button mat-raised-button (click)="deleteUnit(unit.unit_id)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </mat-card-actions>
                    <mat-card-actions class="mr-3">
                      <button mat-raised-button [routerLink]="['/allunit', unit.unit_id]" (click)="sendUnitDetails(unit)">
                        <i class="far fa-eye"></i>
                      </button>
                    </mat-card-actions>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
          </div>
    </div>
</div>

